a, a:hover {
	color: white;
}

.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;

}

.carousel-inner > .item > img {
  max-height:60%;
}


.carousel{
	background-size: cover;
	height: 60%;
	max-height: 60%;
	width: 100%;
}

.carousel-control-prev{
	height: 200%;
}

.carousel-control-next{
	height: 200%;
}

.carousel-indicators{
	top: 150%;
}

.carousel-caption{
	height: 50%;
}

.btnmail{
	background: none!important;
	border: none;
	padding: 0!important;
	color: #069;
	cursor: pointer;
}

#mode{
	cursor: pointer;
	border: 10px;
	color: black;
	background-color: #FFD700;
}
#aboutSection{
	background-image: url("../images/index/sky1.jpg");
	height: auto;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#cloudFontH{
  color: black;
  font-size: 40px;
  font-family: 'Space Mono' ;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

#cloudFontT{
  color: black;
  font-size: 20px;
  font-family: 'Space Mono' ;
  -webkit-text-fill-color: black; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

#titleCard{
	height: 600px;
	position: absolute;
}

#craft{
	height: 80px;
	width: 100px;
}

#home{
	width: 100%;
}