#accordion {
    bottom: 0;
    width: 100%;    
}

.panel-default > .panel-heading{
    background: #292b2c;
}

.panel-heading {
    height: 25px;
    padding: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-title a {
	height: 25px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    display: block;
    padding: 6px;
    font-size: 15px;
    font-family: Helvetica,Arial,sans-serif;
    outline: none;
}

.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
    text-decoration: none;
    outline: none;
} 

.panel-body{
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}

	#headf{
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	}
	
	#bullet1{
	list-style-type: none;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	}
	
	#parallax-image{
	background-image: url("../../images/blog_2/island.jpg");
	height: 650px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
	
	#parallax-image2{
	background-image: url("../../images/blog_2/raft.jpg");
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
	
	#parallax-image3{
	background-image: url("../../images/blog_2/ring.jpg");
	height: 650px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
	
@media only screen and (max-width: 400px){
	h1{
		color: white;
	}
}