body{
	background-color: rgb(0, 0, 0);
}
.dateSelection:before{
	height: 30%;
	content: "";
	display: block;
	text-align: center;
}
.globe{
	background-color: rgb(0, 0, 0);
	min-height: 70%;
	max-width: 70%;
}

.titleText{
	text-align: center;
	color: white;
}

.cbaxis text{
	fill: 'white' !important; 
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}